<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="HidSharp" version="1.5" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.20.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RGB.NET" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Brushes" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Core" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Decorators" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Asus" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Corsair" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Logitech" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Msi" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Novation" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Devices.Razer" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Groups" version="0.0.1.35" targetFramework="net461" />
  <package id="RGB.NET.Presets" version="0.0.1.35" targetFramework="net461" />
  <package id="Sanford.Multimedia.Midi" version="6.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>