<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.1" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net461" />
  <package id="RGB.NET.Brushes" version="1.0.0" targetFramework="net461" />
  <package id="RGB.NET.Core" version="1.0.0" targetFramework="net461" />
  <package id="RGB.NET.Devices.CoolerMaster" version="1.0.0" targetFramework="net461" />
  <package id="RGB.NET.Devices.Corsair" version="1.0.0" targetFramework="net461" />
  <package id="RGB.NET.Devices.Logitech" version="1.0.0" targetFramework="net461" />
  <package id="RGB.NET.Groups" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" />
</packages>